/* Estilo para a imagem do logotipo */
.navbar img {
    display: block; /* Torna a imagem um elemento de bloco para centralizá-la */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    max-width: 150px; /* Define uma largura máxima para a imagem (ajustável) */
    height: auto; /* Mantém a proporção da imagem */
    cursor: pointer;
}
